html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
}

h2 {
  font-size: 4em;
  margin: 0;
}

p {
  font-size: 1.2em;
}

a {
  color: #fff;
  font-size: 1.2em;
}

/*
HEADER
*/

header {
  height: 100px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 3px 10px #00000019;
  z-index: 20;
}

header .logo img {
  margin-top: 20px;
}

.logo {
  margin-left: 30px;
}

/*
CONTENT
*/

.content {
  color: #b2b2b2;
  min-height: 100vh;
  padding: 20px 0;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-flow: wrap;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  scroll-snap-align: start;
}

.logo-box {
  width: 80%;
  margin: 0 auto;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box::after {
  content: "";
  width: 60%;
  max-width: 300px;
  height: 75%;
  background-color: #ccc;
  z-index: 1;
  position: absolute;
  box-shadow: 0 3px 10px #00000019;
}

.logo-box img {
  max-width: 100%;
  width: 500px;
  z-index: 2;
}

.info {
  padding-bottom: 100px;
  box-sizing: border-box;
  position: relative;
  min-height: 275px;
}

.info p {
  text-align: justify;
}

.info .links {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.primary-link {
  font-size: 2em;
  line-height: 1.5em;
  padding: 0 10px;
  text-decoration: none;
  transition: all 0.2s ease-in;
  position: relative;
  border: 1px solid #999;
  color: #999;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.primary-link span {
  position: relative;
  z-index: 10;
}

.primary-link:before {
  content: "";
  position: absolute;
  width: 1px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: -1px;
  background-color: #999;
  z-index: 0;
  transition: transform 0.2s ease-in;
}

.primary-link:hover {
  color: #ccc;
}

.primary-link:hover:before {
  opacity: 1;
  transform: scaleX(800);
}

@media (min-width: 990px) {
  .container {
    display: grid;
    max-width: 1200px;
  }

  .content {
    padding: 20px 10px;
  }

  #rascal .container,
  #fogo-brasa .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2em;
  }

  #rascal .info,
  #fogo-brasa .info {
    grid-column: 1/2;
    grid-row: 1;
  }

  #rascal .logo-box,
  #fogo-brasa .logo-box {
    grid-column: 2/3;
    grid-row: 1;
    height: auto;
    width: 100%;
  }

  #rascal .logo-box::after,
  #fogo-brasa .logo-box::after {
    height: 100%;
  }

  #apps.content {
    padding: 0;
  }
}

/*Rascal*/

#rascal {
  background-image: url("../img/background-rascal-1.png");
}

#rascal h2 {
  color: #3771b8;
}

#rascal p {
  color: #4c260f;
}

#rascal .logo-box::after {
  background-color: #3771b8;
}

#rascal .primary-link {
  border-color: #3771b8;
  color: #3771b8;
}

#rascal .primary-link:hover {
  color: #fff;
}

#rascal .primary-link:before {
  background-color: #3771b8;
}

/*Fogo&Brasa*/

#fogo-brasa {
  background-image: url("../img/background-fogo-brasa.png");
}

#fogo-brasa h2 {
  color: #ff9c00;
}

#fogo-brasa p {
  color: #f2dfd2;
}

#fogo-brasa .logo-box::after {
  background-color: #110a09;
}

#fogo-brasa .primary-link {
  border-color: #ff9c00;
  color: #ff9c00;
}

#fogo-brasa .primary-link:hover {
  color: #110a09;
}

#fogo-brasa .primary-link:before {
  background-color: #ff9c00;
}

/*apps*/

#apps {
  background-color: #faebd7;
  padding: 0;
}

#apps > div {
  min-height: 100vh;
  background-attachment: fixed;
  background-image: url(../img/pattern-spike20.png);
  text-align: center;
  overflow: hidden;
  width: 100%;
}

#app1 {
  background-color: #4a769a;
}

#app2 {
  background-color: #98704e;
}

#app3 {
  background-color: #6da032;
}

@media (min-width: 1420px) {
  #apps {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

#carousel {
  overflow: hidden;
}

#carousel img {
  display: none;
  max-width: 100%;
}

#carousel .visible {
  display: block;
}
